@font-face {
    font-family: 'GothamBold';
    src: url('fonts/GothamBold.otf');
    src: url('fonts/GothamBold.otf') format('embedded-opentype'), url('fonts/GothamBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    background: #000000;
    font-family: "GothamBold", sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

.menu {
    background: #E31C13;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #FFFF;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 20px;
}

.search b {
    color: #CCCCCC;
    font-size: 24px;
}

.search .sLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.search .sRight form {
    background: #202020;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.search .sRight form input {
    background: #202020;
    border: none;
    height: 46px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.search .sRight form button {
    background: transparent;
    border: none;
}

.view {
    height: 60px;
    background: transparent linear-gradient(180deg, var(---474849-linhas-) 0%, #0E0E0F 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #474849 0%, #0E0E0F 100%) 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border-top: 2px solid #606060;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menuView {
    position: absolute;
    margin-top: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#menuView ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#menuView ul li {
    display: inline;
    margin: 0px 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#menuView ul li a {
    display: inline-block;
    color: #474849;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    transition: all 0.5s;
}

#menuView ul li a:hover {
    color: #FBBD08;
}

#menuView ul li.active a {
    border-bottom: 3px solid #FBBD08;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding-bottom: 5px;
    width: 150px;
    color: #FBBD08;
}

#menuView ul li.activeDashBoard a {
    border-bottom: 3px solid #FBBD08;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding-bottom: 5px;
    width: 220px;
    color: #FBBD08;
}

#reportContainer {
    min-height: 800px;
    min-width: 100%;
}